input {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  margin-bottom: 10px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
}

.name {
  width: 100px;
}

.email {
  display: block;
  width: 216px;
}

.signup {
  background-color: rgb(0, 89, 255);
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Arial;
  font-weight: bold;
  padding-left: 84px;
  padding-right: 84px;
  font-size: 16px;
  border-radius: 8px;
}